.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.title {
  font-size: 4rem;
  color: #14213d;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.hide {
  display: none;
}

.highlight {
  color: #fca311;
}

.padding-bottom {
  padding-bottom: 30px;
}

.burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 10px;
  right: 20px;
  color: #fff;
  background: none;
  font-size: 2rem;
  border: none;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.change-burger {
  color: black;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 5rem;
  position: fixed;
  height: 4rem;
  width: 100vw;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s opacity, 0.5s -webkit-transform cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.3s opacity, 0.5s -webkit-transform cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s transform cubic-bezier(0.65, 0.05, 0.36, 1), 0.3s opacity;
  transition: 0.5s transform cubic-bezier(0.65, 0.05, 0.36, 1), 0.3s opacity, 0.5s -webkit-transform cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #fff;
  opacity: 0.8;
  z-index: 5;
}

.show-menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav-link {
  text-decoration: none;
  font-size: 2rem;
  padding: 0 3rem;
  color: #fca311;
  -webkit-transition: 0.3s font-size, 0.3s color;
  transition: 0.3s font-size, 0.3s color;
}

nav:hover {
  opacity: 1;
}

.nav-opacity {
  opacity: 1;
}

.nav-link:hover {
  color: #fca311;
  font-size: 2.2rem;
  font-weight: bold;
}

.black-menu-btn {
  color: #000000;
}

header {
  color: #fff;
  text-transform: uppercase;
}

header h1 {
  font-size: 5rem;
  -webkit-animation: tracking-in-expand 1.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand 1.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

header h2 {
  font-size: 4rem;
  -webkit-animation: tracking-in-expand 1.5s 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand 1.5s 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

header .hero-img {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../img/business_big.webp");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

header .hero-img .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

header .hero-img .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 14%;
}

header .hero-img span {
  color: #fca311;
}

header .fa-chevron-down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20px;
  font-size: 4rem;
  color: #fff;
  -webkit-animation: chevron-animation 3s infinite;
          animation: chevron-animation 3s infinite;
}

.why-us .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-us .container .child-1 {
  background-image: url("/img/project_big.webp");
}

.why-us .container .child-2 {
  background-image: url("/img/waterfall_big.webp");
}

.why-us .container .child-3 {
  background-image: url("/img/mountain.webp");
}

.why-us .container .child-1,
.why-us .container .child-2,
.why-us .container .child-3 {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 33%;
  min-width: 280px;
  min-height: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.why-us .container .child-1__hider,
.why-us .container .child-2__hider,
.why-us .container .child-3__hider {
  background-color: black;
  width: 100%;
  opacity: 0.5;
  height: 100%;
  -webkit-transition: 0.6s opacity, 0.6s -webkit-transform;
  transition: 0.6s opacity, 0.6s -webkit-transform;
  transition: 0.6s opacity, 0.6s transform;
  transition: 0.6s opacity, 0.6s transform, 0.6s -webkit-transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why-us .container .child-1__hider--text,
.why-us .container .child-2__hider--text,
.why-us .container .child-3__hider--text {
  font-size: 3rem;
  text-align: center;
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.why-us .container .child-1__hider--text-2,
.why-us .container .child-2__hider--text-2,
.why-us .container .child-3__hider--text-2 {
  font-size: 3rem;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: 0.6s color;
  transition: 0.6s color;
}

.why-us .child-1:hover .child-1__hider {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  cursor: pointer;
}

.why-us .child-1:hover .child-1__hider--text {
  color: black;
  opacity: 0.7;
}

.why-us .child-1:hover .child-1__hider--text-2 {
  color: white;
}

.why-us .child-2:hover .child-2__hider {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  cursor: pointer;
}

.why-us .child-2:hover .child-2__hider--text {
  color: black;
  opacity: 0.7;
}

.why-us .child-2:hover .child-2__hider--text-2 {
  color: white;
}

.why-us .child-3:hover .child-3__hider {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  cursor: pointer;
}

.why-us .child-3:hover .child-3__hider--text {
  color: black;
  opacity: 0.7;
}

.why-us .child-3:hover .child-3__hider--text-2 {
  color: white;
}

.why-us .one,
.why-us .two,
.why-us .thr {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #14213d;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 50;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.why-us .one__list,
.why-us .two__list,
.why-us .thr__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  height: 90%;
  color: #fff;
  list-style: none;
}

.why-us .one__list li > *,
.why-us .two__list li > *,
.why-us .thr__list li > * {
  vertical-align: middle;
  line-height: normal;
}

.why-us .one__list li:first-child,
.why-us .two__list li:first-child,
.why-us .thr__list li:first-child {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.why-us .one li,
.why-us .two li,
.why-us .thr li {
  margin: 10px;
  text-align: justify;
  width: 100%;
}

.why-us .one li .highlight,
.why-us .two li .highlight,
.why-us .thr li .highlight {
  font-weight: bold;
}

.why-us .one li .i-container,
.why-us .two li .i-container,
.why-us .thr li .i-container {
  display: inline-block;
  text-align: center;
  margin: 0 2%;
  width: 5%;
}

.why-us .one li .i-container .fas,
.why-us .two li .i-container .fas,
.why-us .thr li .i-container .fas {
  font-size: 4rem;
}

.why-us .one li .text-info,
.why-us .two li .text-info,
.why-us .thr li .text-info {
  width: 89%;
  display: inline-block;
  font-size: 2rem;
}

.why-us .show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.why-us .why-us-link {
  text-decoration: underline;
  -webkit-text-decoration-color: #fca311;
          text-decoration-color: #fca311;
  color: #fff;
  -webkit-transition: 0.3s font-size, 0.3s color;
  transition: 0.3s font-size, 0.3s color;
}

.why-us .why-us-link:hover {
  color: #fca311;
}

.offer {
  color: #14213d;
  font-size: 2rem;
  margin: 10px;
}

.offer ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.offer ul li {
  width: 45%;
  height: 300px;
}

.offer ul li .text-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.offer ul li .text-container p {
  padding: 20px 0;
  height: 200px;
  position: absolute;
  top: 50%;
  font-size: 2.4rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
}

.offer ul .offer__img {
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px 0 20px 20%;
  width: 300px;
  height: 100%;
  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.7s cubic-bezier(0.65, 0.05, 0.36, 1), opacity 0.7s;
  transition: transform 0.7s cubic-bezier(0.65, 0.05, 0.36, 1), opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.offer ul .offer__img--one {
  background-image: url("../img/drawings/modern_website.svg");
}

.offer ul .offer__img--two {
  background-image: url("../img/drawings/graphic_project.svg");
}

.offer ul .offer__img--three {
  background-image: url("../img/drawings/search_engine.svg");
}

.offer ul .offer__img--four {
  background-image: url("../img/drawings/user_friendly.svg");
}

.offer ul .offer__img--five {
  background-image: url("../img/drawings/responsive_2.svg");
}

.offer ul .offer__img--six {
  background-image: url("../img/drawings/hosting.svg");
}

.offer ul .offer__img--seven {
  background-image: url("../img/drawings/implementation.svg");
}

.offer .title {
  width: 100%;
}

.contact {
  position: relative;
  background-color: #14213d;
  overflow: hidden;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: justify;
}

.contact .title {
  color: #fff;
}

.contact .test-container {
  padding: 0 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .test-container .contact__form {
  padding: 1.1em;
  text-align: left;
  -webkit-box-flex: 1.8;
      -ms-flex-positive: 1.8;
          flex-grow: 1.8;
  min-width: 512px;
  border-right: #fca311 solid 1px;
}

.contact .test-container .contact__form--input, .contact .test-container .contact__form--textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  width: 100%;
}

.contact .test-container .contact__form--textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
}

.contact .test-container .contact__form--label {
  display: block;
  width: 100%;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

.contact .test-container .contact__form--phone {
  width: 100%;
}

.contact .test-container .contact__form--email {
  width: 100%;
}

.contact .test-container .contact__form__form, .contact .test-container .contact__form__form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .test-container .contact__form .contact-data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .test-container .contact__form .contact-data .contact-data-first,
.contact .test-container .contact__form .contact-data .contact-data-sec {
  width: 49%;
  min-width: 244px;
}

.contact .test-container .contact__form .contact-data .contact-data-first {
  margin-right: 2%;
}

.contact .contact-info {
  text-transform: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 400px;
  text-align: center;
  width: 30%;
  padding: 1.1em;
  line-height: 2em;
}

.contact .contact-info .detailed-info {
  text-align: center;
  width: 100%;
}

.contact__form-btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.5em;
  width: 100%;
  max-width: 300px;
  font-size: 2rem;
  color: #14213d;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.contact .temporary-hide {
  display: none;
}

.contact .temporary-button {
  background-color: grey;
}

.contact .email-alert-two,
.contact .name-alert,
.contact .msg-alert,
.contact .btn-alert {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  display: none;
  color: red;
}

.contact .success {
  background-color: #cae7c1;
}

.contact .failure {
  border: 2px red solid;
}

.contact .display {
  display: inline-block;
}

.footer {
  width: 100%;
  background-color: #14213d;
  border-top: #fca311 1px solid;
}

.footer .footer-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 30px 0 30px 0;
}

.footer .footer-ul__item {
  width: 30%;
  min-width: 300px;
  height: 400px;
  color: white;
}

.footer .footer-ul__item .title {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  color: white;
  z-index: 5;
}

.footer .footer-ul__item--one .description {
  width: 100%;
  padding: 0 20px;
  text-align: justify;
}

.footer .footer-ul__item--one .description h3,
.footer .footer-ul__item--one .description p {
  font-weight: normal;
  font-size: 1.7em;
  line-height: 3rem;
}

.footer .footer-ul__item--two {
  position: relative;
  height: 400px;
}

.footer .footer-ul__item--two ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-ul__item--two ul li {
  list-style: none;
}

.footer .footer-ul__item--two ul li i {
  color: white;
  font-size: 5em;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.footer .footer-ul__item--two ul li i:hover {
  color: #fff;
  cursor: pointer;
}

.footer .footer-ul__item--three {
  text-align: center;
}

.footer .footer-ul__item--three .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer .footer-ul__item--three .footer-nav .footer-link {
  font-size: 1.7em;
  list-style: none;
  line-height: 3em;
}

.footer .footer-ul__item--three .footer-nav .footer-link a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s font-size, 0.3s color;
  transition: 0.3s font-size, 0.3s color;
}

.footer .footer-ul__item--three .footer-nav a:hover {
  font-size: 2.2rem;
  font-weight: bold;
}

.footer .footer-bottom {
  width: 100%;
  height: 50px;
  border-top: #fca311 1px solid;
  margin: 0 auto;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 3px;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-5 9:57:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-12 19:27:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes chevron-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes chevron-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text-info__more-animation {
  0% {
    background-position-x: left 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes text-info__more-animation {
  0% {
    background-position-x: left 100%;
  }
  100% {
    background-position: 0;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 5rem;
  }
  header h2 {
    font-size: 3rem;
  }
  header .hero-img {
    background-image: url("/img/business_sm.jpg");
  }
  .nav {
    height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    opacity: 1;
  }
  .contact .test-container .contact__form {
    border-right: none;
  }
  .contact .test-container .contact-info {
    padding: 1.1em;
    line-height: 2em;
  }
  .contact .test-container .contact-info i {
    padding: 1em 0;
  }
  .why-us .container .child-1,
  .why-us .container .child-2,
  .why-us .container .child-3,
  .why-us .container .child-4 {
    width: 90%;
    margin: 5px;
  }
  .why-us .i-container .fas {
    display: none;
  }
  .offer .wrapper ul {
    margin: 0;
    padding: 0;
  }
  .offer .wrapper ul .for-text {
    height: 125px;
  }
  .offer .wrapper ul li {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .offer .wrapper ul li .text-container {
    height: 125px;
    margin: 0;
    padding: 0;
  }
  .offer .wrapper ul li .text-container p {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    width: 100%;
    height: 125px;
  }
  .offer .wrapper .offer__img {
    margin: 0 auto;
    width: 300px;
    padding: 0;
  }
}

@media (min-width: 769px) {
  header .hero-img {
    background-image: url("../img/business_big.webp");
  }
}

@media (max-width: 576px) {
  header h1 {
    font-size: 4rem;
  }
  header h2 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */