@media (max-width: 768px) {
	header {
		.hero-img {
			background-image: url('/img/business_sm.jpg');
		}
	}

	.nav {
		height: 200px;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: start;
		opacity: 1;
	}

	.why-us {
		.container {
			.child-1,
			.child-2,
			.child-3,
			.child-4 {
				width: 90%;
				margin: 5px;
			}
		}
	}

	.info_fade {
		.fas {
			display: none;
		}
	}

	.for-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		background-color: $dark-blue;
		color: $pure-white;

		text-align: center;

		i {
			display: block;
			font-size: 10rem;
			padding-bottom: 30px;
		}

		p {
			padding: 10px 30px;
			display: block;
			font-size: 3rem;
			text-align: center;
		}
	}

	header {
		h1 {
			font-size: 5rem;
		}
		h2 {
			font-size: 3rem;
		}
	}

	.why-us {
		display: flex;
		padding: 0;

		.wrapper {
			width: 100%;
		}

		&__box {
			height: auto;
			align-items: center;
			justify-content: center;
			width: 100%;

			&-img {
				width: 100%;
			}

			&-text {
				flex-grow: 1;
				background-color: blue;
				width: 100%;
				// .card-title  {
				// }

				.card-text {
					text-align: justify;
				}
			}
		}
		.reverted {
			.why-us__box-img {
				order: 1;
			}
		}
	}

	.contact {
		.contact-ul {
			flex-wrap: wrap;
			&__item {
				&--one {
					width: 100%;

					.contact__form {
						align-items: center;
						justify-content: center;
						background-color: pink;
					}
				}
				&--two {
					width: 100%;
					.test-div {
						background-color: tomato;
					}
				}
			}
		}
	}
}

@media (min-width: 769px) {
	header {
		.hero-img {
			background-image: url('../img/business_big.jpg');
		}
	}
}

@media (max-width: 576px) {
	header {
		h1 {
			font-size: 4rem;
		}
		h2 {
			font-size: 2rem;
		}
	}

	
}
