@import './colors';
@import './components';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.title {
	font-size: 4rem;
	color: $dark-blue;
	// text-shadow: #abc;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

.hide {
	display: none;
}

.highlight {
	color: $orange;
}

.padding-bottom {
	padding-bottom: 30px;
}

// NAV
.burger-btn {
	display: flex;
	position: fixed;
	top: 10px;
	right: 20px;
	color: $pure-white;
	background: none;
	font-size: 2rem;
	border: none;
	z-index: 10;
	cursor: pointer;
	transition: 0.3s color;
}

.change-burger {
	color: black;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: end;
	padding-right: 5rem;
	position: fixed;
	height: 4rem;
	width: 100vw;
	transform: translateX(100%);
	transition: 0.5s transform cubic-bezier(0.65, 0.05, 0.36, 1), 0.3s opacity;
	background-color: $pure-white;
	opacity: 0.8;
	z-index: 5;
}

.show-menu {
	transform: translateX(0%);
}

.nav-link {
	text-decoration: none;
	font-size: 2rem;
	padding: 0 3rem;
	color: $orange;
	transition: 0.3s font-size, 0.3s color;
}

nav:hover {
	opacity: 1;
}

.nav-opacity {
	opacity: 1;
}

.nav-link:hover {
	color: $orange;
	font-size: 2.2rem;
	font-weight: bold;
}

.black-menu-btn {
	color: $black;
}
// END NAV

// HEADER
header {
	h1 {
		font-size: 5rem;
		animation: tracking-in-expand 1.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
	}
	h2 {
		font-size: 4rem;
		animation: tracking-in-expand 1.5s 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
	}
	color: $pure-white;
	text-transform: uppercase;

	.hero-img {
		position: relative;
		height: 100vh;
		width: 100vw;
		background-image: url('../img/business_big.jpg');
		background-position: bottom;
		background-size: cover;
		background-attachment: fixed;
		overflow: hidden;

		.hero-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
		}

		.hero-text {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding-top: 14%;
			// text-shadow: 2px 2px 30px grey;
		}

		span {
			color: $orange;
		}
	}

	.fa-chevron-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20px;
		font-size: 4rem;
		color: $pure-white;
		animation: chevron-animation 3s infinite;
	}
}

//END OF HEADER

// CONTACT

.contact {
	position: relative;
	background-color: $dark-blue;
	overflow: hidden;
	font-size: 2rem;
	text-transform: uppercase;
	text-align: justify;

	.title {
		color: $pure-white;
	}

	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}

	&__form-label {
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	&__form-input {
		@include contactForm;
	}

	


	&__form-textarea {
		@include contactForm;
		max-width: 95%;
		min-width: 95%;
		min-height: 150px;
	}

	&__form-btn {
		align-self: flex-start;
		padding: 0.5em;
		width: 100%;
		max-width: 300px;
		font-size: 2rem;
		color: $dark-blue;
		border: none;
		border-radius: 8px;
		background-color: $pure-white;
		cursor: pointer;
	}

	.contact-ul {
		display: flex;
		align-items: start;
		justify-content: space-evenly;
		list-style: none;
		width: 100%;

		&__item {
			color: white;

			&--one {
				width: 65%;
				border-right: $orange solid 1px;

				.contact-data-first {
					margin-right: 2%;
				}
				.contact-data-first,
				.contact-data-sec {
					display: inline-block;
					width: 46%;

					label,
					input {
						display: block;
						width: 100%;
						min-width: 100%;
					}
				}
			}

			&--two {
				width: 35%;
				padding-left: 2%;

				.contact-info {
					padding-top: 5%;
					text-transform: none;
					padding-left: 5%;
					line-height: 3rem;
					font-size: 1.7rem;

					.email {
						text-transform: none;
						line-height: 100px;
					}

					i {
						padding: 5% 10% 0 10%;
						font-size: 3rem;
					}
				}
			}
		}
	}
	// .email-alert-one,
	.email-alert-two,
	.name-alert,
	.msg-alert {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1rem;
		color: red;
		display: none;
	}

	.display {
		display: inline-block;
	}
	
}
//END OF CONTACT

// //START OF WHY-US

.why-us {
	.container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		.child-1 {
			background-image: url('/img/sq.jpg');
		}

		.child-2 {
			background-image: url('/img/project_big.jpg');
		}

		.child-3 {
			background-image: url('/img/waterfall_big.jpg');
		}

		.child-1,
		.child-2,
		.child-3 {
			height: 400px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 33%;
			min-width: 280px;
			min-height: 300px;
			flex-grow: 1;
			perspective: 800px;

			&__hider {
				background-color: black;
				width: 100%;
				opacity: 0.7;
				height: 100%;
				transition: 0.6s opacity, 0.6s transform;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				flex-direction: column;

				&--text {
					font-size: 3rem;
					text-align: center;
					color: white;
					transition: color 0.3s;
				}

				&--text-2 {
					font-size: 3rem;
					transform: rotateY(180deg);
					transition: 0.6s color;
				}
			}
		}
	}

	.child-1:hover {
		.child-1__hider {
			transform: rotateY(-180deg);
			cursor: pointer;

			&--text {
				color: black;
				opacity: 0.7;
			}

			&--text-2 {
				color: white;
			}
		}
	}

	.child-2:hover {
		.child-2__hider {
			transform: rotateY(-180deg);
			cursor: pointer;

			&--text {
				color: black;
				opacity: 0.7;
			}

			&--text-2 {
				color: white;
			}
		}
	}

	.child-3:hover {
		.child-3__hider {
			transform: rotateY(-180deg);
			cursor: pointer;

			&--text {
				color: black;
				opacity: 0.7;
			}

			&--text-2 {
				color: white;
			}
		}
	}

	.one,
	.two,
	.thr {
		@include show-details;
		justify-content: center;
		align-items: center;

		&__list {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			width: 80%;
			height: 90%;
			color: $pure-white;
			list-style: none;

			li > * {
				vertical-align: middle;
				line-height: normal;
			}

			li:first-child {
				text-align: center;
				font-size: 2.8rem;
				font-weight: bold;
				text-transform: uppercase;
			}
		}

		li {
			margin: 10px;
			text-align: justify;
			width: 100%;

			.highlight {
				font-weight: bold;
			}

			.i-container {
				display: inline-block;
				text-align: center;
				margin: 0 2%;
				width: 5%;

				.fas {
					font-size: 4rem;
				}
			}

			.text-info {
				width: 89%;
				display: inline-block;
				font-size: 2rem;
			}
		}
	}

	.show {
		transform: translateX(0);
	}

	.why-us-link {
		text-decoration: underline;
		text-decoration-color: $orange;
		color: $pure-white;
		transition: 0.3s font-size, 0.3s color;
	}

	.why-us-link:hover {
		color: $orange;
	}
}

// // END OF WHY-US

//START OF OFFER
.offer {
	color: $dark-blue;
	font-size: 2rem;
	margin: 10px;

	ul {
		width: 100%;
		list-style: none;
		display: flex;
		align-items: start;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;

		li {
			width: 45%;
			height: 300px;

			.text-container {
				height: 100%;
				width: 100%;
				position: relative;

				p {
					padding: 20px 0;
					height: 200px;
					position: absolute;
					top: 50%;
					font-size: 2.4rem;
					transform: translate(0, -50%);
					text-align: center;
				}
			}
		}

		.offer {
			&__img {
				background-size: contain;
				background-repeat: no-repeat;
				margin: 20px 0 20px 20%;
				width: 300px;
				height: 100%;
				transition: transform 0.7s cubic-bezier(0.65, 0.05, 0.36, 1), opacity 0.7s;

				&--one {
					background-image: url('../img/drawings/modern_website.svg');
				}

				&--two {
					background-image: url('../img/drawings/graphic_project.svg');
				}
				&--three {
					background-image: url('../img/drawings/search_engine.svg');
				}
				&--four {
					background-image: url('../img/drawings/user_friendly.svg');
				}
				&--five {
					background-image: url('../img/drawings/responsive_2.svg');
				}
				&--six {
					background-image: url('../img/drawings/hosting.svg');
				}
				&--seven {
					background-image: url('../img/drawings/implementation.svg');
				}
			}
		}
	}

	.title {
		width: 100%;
	}
}

// END OF OFFER

//FOOTER
.footer {
	width: 100%;
	background-color: $dark-blue;
	border-top: $orange 1px solid;

	.footer-ul {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		list-style: none;
		padding: 30px 0 30px 0;

		&__item {
			width: 30%;
			min-width: 300px;
			height: 400px;
			color: white;

			.title {
				text-align: center;
				font-size: 2em;
				text-transform: uppercase;
				padding: 10px;
				font-weight: bold;
				color: white;
				z-index: 5;
			}

			&--one {
				// border-right: 1px $dark-grey solid;

				.description {
					width: 100%;
					padding: 0 20px;
					text-align: justify;

					h3,
					p {
						font-weight: normal;
						font-size: 1.7em;
						line-height: 3rem;
					}
				}
			}

			&--two {
				// border-right: 1px $dark-grey solid;
				position: relative;
				height: 400px;

				ul {
					display: flex;
					justify-content: space-around;
					align-items: center;

					li {
						list-style: none;

						i {
							color: white;
							font-size: 5em;
							transition: 0.3s color;
						}

						i:hover {
							color: $pure-white;
							cursor: pointer;
						}
					}
				}
			}
			&--three {
				text-align: center;

				.footer-nav {
					display: flex;
					flex-direction: column;
					align-content: center;

					.footer-link {
						font-size: 1.7em;
						list-style: none;
						line-height: 3em;

						a {
							text-decoration: none;
							color: white;
							transition: 0.3s font-size, 0.3s color;
						}
					}

					a:hover {
						font-size: 2.2rem;
						font-weight: bold;
					}
				}
			}
		}
	}
	.footer-bottom {
		width: 100%;
		height: 50px;
		border-top: $orange 1px solid;
		margin: 0 auto;
		font-size: 1.8rem;
		color: white;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		letter-spacing: 3px;
	}
}

//END OF FOOTER

// ANIMATIONS

/* ----------------------------------------------
 * Generated by Animista on 2021-11-5 9:57:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-12 19:27:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

//   End of animista animations

@keyframes chevron-animation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes text-info__more-animation {
	0% {
		background-position-x: left 100%;
	}

	100% {
		background-position: 0;
	}
}

// END OF ANIMATIONS

@import './media';
